{% extends 'base.html.twig' %}

{% block title %}
	Créer une tâche - TaskLinker
{% endblock %}

{% block body %}
	<main>
		<header>
			<div id="current-user"></div>
			<div id="title-page">
				<h1>Créer une tâche</h1>
			</div>
		</header>
		<div id="content">
			{{ form_start(form) }}
			<div>
				{{form_row(form.title)}}
				{{form_row(form.description)}}
				{{form_row(form.deadline)}}
				{{form_row(form.statut)}}
				{{form_row(form.employe)}}
				<br>
				<button type="submit" class="button button-submit">Ajouter</button>
				{{ form_end(form) }}
			</div>
		</div>
	</main>
{% endblock %}
